/* global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {}

/* small */
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {

  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
  min-height: 77.5px;
  position: relative;
}

header nav {
  color: #777;
  flex-basis: 1;
}
header nav .menu
{
  display: none;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

header nav ul {
  display: flex;
  padding: 10px;


}

header nav ul li a {
  color: #777;
  transition: .3s;
}

header nav ul li {
  margin: 0 15px;
  font-weight: bold;

}

header nav ul li a:hover {
  color: black;
}

@media (max-width:767px)
{
  header nav .menu
  {
    display: block;
  }
  header nav ul
  {
    display: none;
  }
  header nav .menu:hover + ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgb(145, 145, 145,0.7);
  z-index: 10;
  padding: 20px;
 
 
  
  }
  header nav .menu:hover + ul li a{
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    color: white;
  }
 
}

/* start landing */
.landing {
  background-image: linear-gradient(to right, rgba(44, 56, 85, 0.9), rgba(100, 125, 187, 0.1)), url("../img/landing.jpg");
  position: relative;
  height: 100vh;
  padding: 20px 80px;
  width: 90%;
  background-size: cover;
  margin:50px auto;
  border-radius: 10px;
}
.landing .text
{
  color: white;
  padding: 60px 40px;
  margin: 0;
  
}
.landing .text h1 {
font-size: 50px;
margin: 0;

}
.bottom-text
{
  position: absolute;
  bottom: -7%;
  /* background-color: rgba(199, 193, 196, 0.5); */
  background-image: linear-gradient(rgba(199, 193, 196, 0.7), rgba(255,255,255,255));
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;

}
.bottom-text .box{
  display: flex;
  flex-direction: column;
  
}
.bottom-text .box label{
  transition: 0.3s;
  margin-bottom: -10px;
  font-size: 18px;
}
.bottom-text .box input {
   border: none;
   margin-top: 20px;
   margin-bottom: -20px;
   padding: 5px;
   background-color: transparent;
   border-bottom: 1px solid black;

}
.bottom-text .box span{
 
  color: #6b6a6a;
  font-size: 13px;
  margin-top: 25px;
  
  
}
.bottom-text .box input:focus
{
  outline: none;

}
.bottom-text .box input:focus + label
{
  font-size: 10px;
}
.bottom-text .box:last-child
{
  background-color: #2c3855;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
 padding: 20px 0;
 transition: 0.1s;

}
.bottom-text .box:last-child i
{
  color: white;

}
.bottom-text .box:last-child:hover
{
  background-color: #435681;
  cursor: pointer;
}
@media (max-width:991px)
{
  .bottom-text
  {
    flex-direction: column;
    bottom: -5%;
    padding: 0 20px;
  }
}
@media (max-width:767px)
{
  .landing .text
  {
    position: absolute;
     left: 50%;
     top: -5%;
    transform: translateX(-50%);

  }
  
  
  .bottom-text .box:last-child
  {
    margin-top: 10px;
   
  }
  .landing .bottom-text span
  {
    display: block;
    margin: 15px 0;

  }

}
@media (max-width:500px)
{
  .landing .text
  {
    position: absolute;
     left: 50%;
     top: 30%;
    transform: translateX(-50%,-30%);
   
    width: 90%;
    padding: 0;
  
  }
   .landing .text h1
   {
    font-size: 30px;
   }
}
@media (max-width:350px)
{
  .landing .text
  {
    position: absolute;
     left: 50%;
     top: 10%;
    transform: translateX(-50%,-10%);
   
    width: 90%;
    padding: 0;
  
  }
   .landing .text h1
   {
    font-size: 30px;
   }
}
/* end landing */
/* start hotels */
.hotels {
  padding: 20px 80px 80px 80px;

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
  }
}

.hotel {
  box-shadow: 5px 5px 10px #efebeb;
  border: 2px solid rgb(255, 255, 255);
  padding: 4px 0;
  border-radius: 10px;
}

.hotels h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.hotel .paragraph {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px;
}

.hotel span {
  display: block;
  font-size: 14px;
  color: #919191;
  margin-top: 5px;
}

.hotels img {
  width: 100%;
  border-radius: 10px;
  transition: 0.1s;
}

.hotels .hotel:hover img {
  opacity: 0.8;
}

@media (max-width:767px) {
  .hotels {

    padding: 20px 10px;

  }

}

/* end hotels */

/* start clients */
.clients {
  background-color: #F3F4F6;

  padding: 20px 80px 80px 80px;
}

.clients h2 {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  margin-bottom: 50px;
  color: #333333;
}

.clients .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
  position: relative;
  

 
}

.clients .client {
  box-shadow: 1px 1px 10px rgb(21, 19, 19);
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;

  p {
    line-height: 1.6;
    text-align: center;
  }


}

.clients .box img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: -30px;
  transform: translateY(-50px);
  transition: 0.3s;
  border: 2px solid #c9cbcd;

}

.clients .box .client:hover img {
  transform: translateY(-60px);
}

@media (max-width:1280px) {
  .clients {
    gap: 0;
    padding: 30px;

  }

  .clients .box .client{
      margin-bottom: 40px;
  }
}

@media (max-width:767px) {
  .clients {

    padding: 20px 10px;

  }

}

/* end clients */

/* start discount */
.discount {

  margin-top: 60px;
 
  text-align: center;

  .content 
  {
    width: 90%;
    margin: auto;
    box-shadow: 0 0 10px 0 #c1c7d4;
    border-radius: 8px;

    padding: 20px;
  }

  .top-p {
    font-weight: bold;
    color: #919191;
  }

  .main-p {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    color: #333333;
  }

  button {
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2c3855;
    transform: 0.3s;
    color: white;
    cursor: pointer;
  }
}

.discount button:hover {
  background-color: #435681;
}

/* end discount */

/*start footer */
footer {
  background-color: #F3F4F6;
  margin-top: 60px;
  padding: 30px;
  position: relative;
}

footer .content {
  margin-bottom: 30px;
  position: relative;
  display: flex;

  justify-content: space-between;



}

footer .content .box {
  padding: 0 20px;
}

footer .content .box p {

  line-height: 1.6;
  text-align: center;
}

.content a {
  color: #919191;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  transition: 0.3s;


}

footer .rights {
  color: #919191;
  position: absolute;
  right: 0;
  padding: 0 10px;


}

footer h2 {
  display: flex;
  justify-content: start;
  align-items: center;
}

footer a:hover {
  color: black;
}

footer .border {
  border-bottom: 3px solid #777;
  width: 200px;

  margin: auto;

}

@media (max-width:991px) {
  footer .border {
    display: none;
  }

  footer h2 {
    justify-content: center;
  }

  .content a {
    justify-content: center;
  }

}

@media (max-width:767px) {
  footer h2 {
    margin: 20px 0;
    text-align: center;
  }

  footer .content {
    flex-direction: column;

  }

  .rights {
    margin: 10px auto 0;

    position: relative;
    right: 0;
    text-align: center;
  }

}

/* end footer */